.icon32-wfl-settings {
	background-image: url(../img/FB-f-Logo__blue_29.png);
	background-repeat: no-repeat;
}

.wfl-table {
	border: 1px solid #96A6C5;
}

.wfl-table-header {
	background-color: #3B5998;

	/* !important is required so the WordPress styles don't override these */
	color: #FFFFFF !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

.wfl-table-row-odd {
	background-color: #E7EBF2;
}