.wfl-button {
	background-color: #3B5998;
	border: 1px solid #96A6C5;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 16px;
	padding: 4px;
	text-decoration: none;
}

.wfl-button:hover {
	color: #FFFFFF;
}